# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Virtual environments
env/
venv/
.venv/

# IDE files
.vscode/
.idea/

# Attendance CSV
attendance_list.csv
